doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 Titulo Principal
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex rerum ad deserunt quasi velit tenetur alias. Animi sed natus, qui earum omnis dolorem accusantium hic corporis cum ipsum rem.
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur iusto quam voluptate ducimus dignissimos.
				a.boton Leer Más
