extend components/template.pug
block content
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				//- h2= titulo
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex rerum ad deserunt quasi velit tenetur alias. Animi sed natus, qui earum omnis dolorem accusantium hic corporis cum ipsum rem.
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur iusto quam voluptate ducimus dignissimos.
				a.boton Leer Más
		main.contenido
			+caja("imagen.png", titulos[1], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex rerum ad deserunt quasi velit tenetur alias.")
			+caja("imagen.png", titulos[2], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex rerum ad deserunt quasi velit tenetur alias.")
			+caja("imagen.png", titulos[3], "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ex rerum ad deserunt quasi velit tenetur alias.")
